@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply w-fit h-fit px-12 py-3 rounded-lg text-offwhite bg-primary font-semibold text-[20px];
    }

    .btn-inverted {
        @apply w-fit h-fit px-12 py-3 rounded-lg text-primary bg-offwhite font-semibold text-[20px];
    }

    .btn-secondary {
        @apply w-fit h-fit px-12 py-3 rounded-lg border-primary border-2 text-primary bg-offwhite font-semibold text-[20px];
    }

    .btn-submit {
        @apply btn-primary font-normal py-2 mt-12 sm:mx-0 lg:mx-auto;
    }

    .form {
        @apply lg:w-[40dvw] sm:w-[60dvw] flex flex-col bg-white border-gray border-[1px] py-12 px-16;
    }

    .form h2 {
        @apply mb-3;
    }

    .form-label {
        @apply text-neutral-600;
    }

    .form-label * {
        @apply text-neutral-400 underline;
    }
}

@layer base {
    h1 {
        @apply text-center text-offwhite text-[64px] font-semibold leading-tight w-fit;
    }
    h2 {
        @apply text-offblack text-5xl font-medium mb-10 w-fit;
    }
    h3 {
        @apply text-offblack text-2xl font-normal mb-2 w-fit;
    }

    p {
        @apply text-offblack text-2xl font-normal h-fit;
    }
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #1074e7; /* Blue */
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
