@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /*--- BUTTON CLASSES ---*/
    .btn-primary {
        @apply h-fit w-fit rounded-lg bg-primary px-12 py-3 text-[20px] font-semibold text-offwhite;
    }

    .btn-inverted {
        @apply h-fit w-fit rounded-lg bg-offwhite px-12 py-3 text-[20px] font-semibold text-primary transition-all duration-500 ease-in-out hover:bg-neutral-200;
    }

    .btn-secondary {
        @apply h-fit w-fit rounded-lg border-2 border-primary bg-offwhite px-12 py-3 text-[20px] font-semibold text-primary;
    }

    .btn-submit {
        @apply btn-primary mt-12 py-2 font-normal sm:mx-0 lg:mx-auto;
    }

    .btn-primary,
    .btn-secondary,
    .btn-submit {
        @apply clickable transition-all duration-500 ease-in-out hover:opacity-80;
    }

    .clickable {
        @apply transition-transform duration-200 ease-in-out;
    }

    .clickable:active {
        @apply scale-75 transform;
    }

    input {
        @apply transition-all duration-300 ease-in-out hover:border hover:border-primary hover:border-opacity-80;
    }

    /*--- FORM CLASSES ---*/
    .form {
        @apply flex flex-col border-[1px] border-gray bg-white px-16 py-12 sm:w-[60dvw] lg:w-[40dvw];
    }

    .form h2 {
        @apply mb-3;
    }

    .form-label {
        @apply text-neutral-600;
    }

    .form-label * {
        @apply text-neutral-400 underline;
    }
}

@layer base {
    h1 {
        @apply w-fit text-center text-[64px] font-semibold leading-tight text-offwhite;
    }
    h2 {
        @apply mb-10 w-fit text-5xl font-medium text-offblack;
    }
    h3 {
        @apply mb-2 w-fit text-2xl font-normal text-offblack;
    }

    p {
        @apply h-fit text-2xl font-normal text-offblack;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type='number'] {
        appearance: textfield;
        -moz-appearance: textfield;
    }
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #1074e7;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
